---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Cusco Travel Adventure Perú</title>
	</head>
	<body>
		<Navbar />
		<main class="relative">
			<slot />
		</main>
	</body>
	<Footer />
</html>